:root {
    --primary: #8c38ff;
    --light: #eeeeee;
    --dark: #212121;
    --hero-text:rgb(35, 215, 228);
    --h2-text: rgb(218, 28, 117);
    --gradient-logo: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(188deg, rgba(60, 5, 137, 1) 0%, rgba(0, 135, 212, 1) 50%, rgba(180, 74, 180, 1) 96%);
    height: 85vh;
}

.container {
    width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: var(--dark);
    border-bottom: 3px solid var(--primary);
}

.logo {
    display: flex;
    align-items: center;


    background: var(--gradient-logo);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu a {
    color: var(--light);
    font-size: 1.5rem;
    text-decoration: none;
    text-decoration: none;

    margin: 7px 16px;
    font-weight: 500;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a:hover {
    background-color: var(--primary);
}

.hero {
    display: grid;
    grid-template-columns: 2 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
}

.block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
color: var(--hero-text);
font-weight: bolder;
font-size: xx-large;
}

h2 {
    background-color: var(--gradient-logo);

}

.hero p {
    color: #f49867;
    padding: 1rem;
    
}

.block-rigth {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 10px;
}